

@media (max-width: 940px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 500;
  background-color: #f0f8f6;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #229977;

}

h2 {
  color: #336699;
}

p {
  line-height: 1.5;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  background-color: #55aa99;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #449988;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.card {
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}
